---
# IJC
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Lionel Hampton Videos - International Jazz Collections (IJC) - University of Idaho Library</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Content-Language" content="en-us" />
<meta name="keywords" content="University of Idaho, International Jazz Collections, collection, IJC, memorabilia, jazz,  videos, movie, movies, Lionel Hampton " />
<meta name="description" content="Lionel Hampton Collection - University of Idaho International Jazz Collections" />
<meta name="copyright" content="2008 University of Idaho" />
<meta name="author" content="University of Idaho" />
<meta name="robot" content="all" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<link rel="shortcut icon" href="../images/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/uimods.css" rel="stylesheet" >
<style>
.indexitem {
	margin:30px 20px;
	border-bottom: 1px #ccc solid;
}
</style>
</head>
<body>
{% include headertocontent.html %}
  <!-- Page Content -->
  <div class="container breadholder" id="breadcrumbdiv">
    <ol class="breadcrumb">
      <li><a href="http://www.lib.uidaho.edu/index.html ">Home</a></li>
      <li><a href="/">International Jazz Collections</a></li>
      <li><a href="/hampton_collection/">Lionel Hampton Collection</a></li>
      <li class="active">Videos</li>
    </ol>
  </div>
  <div class="container pagecontent" id="scrollnav"> <br / >
    
    <!-- Find Menu --> {% include menu.txt %} <!-- END Find Menu --> 
      
      <!-- left navigation -->
      
      <div id="audienceright1" class="greybkgd">
        <div class="mediacontainer"><img  src="images/Hampton_Library_sketch_06.jpg" alt="Lionel Hampton Collection"  /></div>
        <br />
        <div class="row">
          <div class="btn-group  pull-right" style="margin-left:20px;">
            <button class="btn btn-small btn-default dropdown-toggle " data-toggle="dropdown">Lionel Hampton Collection <span class="caret"></span> </button>
            <ul class="dropdown-menu">
              <li><a   id="home" href="/hampton_collection/">Home</a></li>
              <li><a   id="Biography" href="/hampton_collection/bio.html">Biography</a></li>
              <li><a id="uidaho" title="Lionel and the University of Idaho"href="lionel_and_ui.html">Lionel and the University</a></li>
              <li><a id="photos" title="Photos and Video"href="videos.html">Videos</a></li>
              <li><a id="tributes" title="Tributes" href="tribute.html">Tributes</a></li>
              <li><a id="vision" title="Hamp's Vision" href="vision.html">Hamp's Vision</a></li>
              <li><a target="_blank"  id="FindingAid" href="http://nwda.orbiscascade.org/ark:/80444/xv46578">Finding Aid</a></li>
              <li><a   id="all" href="/hampton_collection/all.html">View All Images</a></li>
              <li><a   id="Collection" href="http://digital.lib.uidaho.edu/cdm/landingpage/collection/ijcs">Visit the Collection</a></li>
            </ul>
          </div>
          <h1>Videos</h1>
          <div class="localnavcontent">
            <div class="indexitem"> <img class="pull-left" style="margin-right:20px;margin-bottom:30px;" src="photos/videothumb_choir_82.jpg" width="82" height="82" alt="Lionel with choir." />
              <h3>Final Public Performance (2002)</h3>
              <p>Leading his big band at the Lionel Hampton Jazz Festival, with special tributes by Quincy Jones, Former President George Bush and UI President Bob Hoover.</p>
              <p>
              <iframe width="420" height="315" src="https://www.youtube.com/embed/Wqh3EF8zYMc" frameborder="0" allowfullscreen></iframe>
              </p>
            </div>
            <!--<div class="indexitem"> <img class="pull-left" style="margin-right:20px;margin-bottom:30px;" src="photos/videothumb_lionel4_82.jpg" width="82" height="82" alt="Lionel Hampton" />
                        <h3>My Heart is in Jazz (2001)</h3>
                        <p>&#8220;Nothing&#8217;s more important than doing something that you like. 
                          And that&#8217;s jazz music. My heart and soul is in jazz.&#8221;</p>
                        <p><a href="http://www.webpages.uidaho.edu/music/hampcenter/hampton_110501_b.rm">[AUDIO ONLY]</a></p>
                      </div>-->
            <div class="indexitem"> <img class="pull-left" style="margin-right:20px;margin-bottom:30px;" src="photos/videothumb_lapwai_82.jpg" width="82" height="82" alt="Lionel at Lapwai Elementary" />
              <h3>Taking Jazz to the Schools (1999)</h3>
              <p>Working with students at Lapwai Elementary School in Idaho.</p>
             <iframe width="420" height="315" src="https://www.youtube.com/embed/w1ictrXuqP8" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="indexitem"> <img class="pull-left" style="margin-right:20px;margin-bottom:30px;" src="photos/videothumb_teaching_82.jpg" width="82" height="82" alt="Lionel with student." />
              <h3>Reaching a New Generation (1995)</h3>
              <p>A teaching session at the University of Idaho with student DeWaylon McCoy.</p>
             <iframe width="420" height="315" src="https://www.youtube.com/embed/eIvx4HdE6oM" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="indexitem"> <img class="pull-left" style="margin-right:20px;margin-bottom:30px;" src="photos/videothumb_solo_82.jpg" width="82" height="82" alt="Lionel performing." />
              <h3>The &#8220;Vibes President&#8221; (1994)</h3>
              <p>Hamp&#8217;s introduction at the 1994 Lionel Hampton Jazz Festival.</p>
              <iframe width="420" height="315" src="https://www.youtube.com/embed/z79tTFKJkJE" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="indexitem"> <img class="pull-left" style="margin-right:20px;margin-bottom:30px;" src="photos/videothumb_choir_82.jpg" width="82" height="82" alt="Lionel with choir." />
              <h3>In Performance (1992)</h3>
              <p>With the University of Idaho Jazz Choir.</p>
              <iframe width="420" height="315" src="https://www.youtube.com/embed/nyFmHqKzqdk" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="indexitem"> <img class="pull-left" style="margin-right:20px;margin-bottom:30px;" src="photos/videothumb_lionel_82.jpg" width="82" height="82" alt="Lionel playing the vibes" />
              <h3>In Performance (1988)</h3>
              <p>Part of a live solo performance recorded at the University of Idaho.</p>
              <iframe width="420" height="315" src="https://www.youtube.com/embed/WhpaFVjx8mg" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="indexitem"> <img class="pull-left" style="margin-right:20px;margin-bottom:30px;" src="photos/videothumb_dedication_82.jpg" width="82" height="82" alt="school of music dedication" />
              <h3>The Lionel Hampton School of Music Dedication (1987)</h3>
              <p>Hamp&#8217;s comments at the dedication of the Lionel Hampton School of 
                Music</p>
             <iframe width="420" height="315" src="https://www.youtube.com/embed/_blm82QUOX8" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="indexitem"> <img class="pull-left" style="margin-right:20px;margin-bottom:30px;" src="photos/videothumb_lionel3_82.jpg" width="82" height="82" alt="Lionel Hampton" />
              <h3>Music is My Salvation (1987)</h3>
              <p>Comments on the importance of music.</p>
              <iframe width="420" height="315" src="https://www.youtube.com/embed/3gQWAtRgNG8" frameborder="0" allowfullscreen></iframe>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Marketing Div --> 
  {% include marketing.txt %} 
  <!-- END Marketing--> 
  
</div>
<!-- Help Div --> 
{% include helpcontainer.html %} 
<!-- END Help Div --> <!-- Footer Div --> {% include footer.txt %} <!-- /footer --> 

<!-- Example row of columns --> 

<!-- /footer --> 
<script src="https://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script> 
<script src="/js/bootstrap.js"></script><script src="/js/scrolltotop.js"></script> 
<script src="/js/affix.js"></script> 
<script src="/js/datatables.js"></script> 
<script>    $(document).ready(function() {$("ul.nav-justified li:nth-child(3)").addClass('active');$("div#leftnavmenu a#hampton").last().addClass('active-find'); $("div#small_menu a#hampton").last().addClass('active');$("small#hamptonlist ").show();$("ul.hampton a#photos").addClass('active');});</script> 
<script src="/js/eventstracker.js"></script> 
<!-- Google Analytics --> 
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4564291-1");
pageTracker._initData();
pageTracker._trackPageview();
</script> 
<!-- End Google Analytics --> 
<!-- Final Javascript Div --> {% include final.js %} <!-- END Final Javascript-->
</body>
</html>