---
# IJC
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Al Grey Discography - International Jazz Collections (IJC) - University of Idaho Library</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Content-Language" content="en-us" />
<meta name="keywords" content="University of Idaho, International Jazz Collections, collection, IJC, memorabilia, jazz, photos, videos, movie, movies, Al Grey" />
<meta name="description" content="Al Grey/Rosalie Soladar Collection - University of Idaho International Jazz Collections" />
<meta name="copyright" content="2008 University of Idaho" />
<meta name="author" content="University of Idaho" />
<meta name="robot" content="all" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<link rel="shortcut icon" href="../images/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/uimods.css" rel="stylesheet" >
</head>
<body>
{% include headertocontent.html %}
  <!-- Page Content -->
  <div class="container breadholder" id="breadcrumbdiv">
    <ol class="breadcrumb">
      <li><a href="http://www.lib.uidaho.edu/index.html ">Home</a></li>
      <li><a href="/">International Jazz Collections</a></li>
      <li class="active">Al Grey/Rosalie Soladar Collection</li>
    </ol>
  </div>
  <div class="container pagecontent" id="scrollnav"> <br / >
    
    <!-- Find Menu --> {% include menu.txt %} <!-- END Find Menu --> 
      
      <!-- left navigation -->
      
      <div id="audienceright1" class="greybkgd">
        <div class="mediacontainer"><img src="../images/IJC_AGrey_coll_02-05.jpg" alt="Al Grey/Rosalie Soladar Memorial Collection, IJC - International Jazz Collections" width="671" height="315" /></div>
        <br />
        <div class="btn-group  pull-right" style="margin-left:20px;">
          <button class="btn btn-small btn-default dropdown-toggle " data-toggle="dropdown"> Al Grey Collection <span class="caret"></span> </button>
          <ul class="dropdown-menu">
            <li><a   id="home" href="/grey_al/">Home</a></li>
            <li><a   id="Biography" href="/grey_al/bio.html">Biography</a></li>
            <li><a   id="Recordings" href="/grey_al/discography.html">Recordings</a></li>
            <li><a target="_blank"  id="FindingAid" href="http://archiveswest.orbiscascade.org/ark:/80444/xv36065">Finding Aid</a></li>
            <li><a   id="all" href="/grey_al/all.html">View All Images</a></li>
            <li><a   id="Collection" href="http://digital.lib.uidaho.edu/cdm/landingpage/collection/ijcdg">Visit the Collection</a></li>
          </ul>
        </div>
        <h1>Recordings</h1>
        <!-- BEGINNING OF INSERTED CONTENT -->
        <h2>Partial Discography<sup><a class="stronglink" href="#footnote1">1</a></sup></h2>
        <ul>
          <li>1959: <em>The Last Of The Big Plungers</em> (Argo)</li>
          <li>1961: <em>The Thinking Man&#8217;s Trombone</em> (Argo)</li>
          <li>1961: <em>The Al Grey-Billy Mitchell Sextet</em> (Argo)</li>
          <li>1962: <em>Snap Your Fingers</em> (Argo)</li>
          <li>1962: <em>Night Song</em> (Argo)</li>
          <li>1963: <em>Having A Ball</em> (Argo)</li>
          <li>1964: <em>Boss Bones</em> (Argo)</li>
          <li>1965: <em>Al Grey And His Orchestra</em> (Tangerine)</li>
          <li>1973: <em>Grey&#8217;s Mood</em> (Classic Jazz)</li>
          <li>1976: <em>Struttin&#8217; And Shoutin&#8217;</em> (Columbia)</li>
          <li>1978: <em>Al Grey-Jimmy Forest Quintet Live At Rick&#8217;s</em> (Aviva)</li>
          <li>1979: <em>Get It Together: Live At The Pizza Express</em> (Pizza Express)</li>
          <li>1979: with Jimmy Forrest <em>Truly Wonderful</em> (Stash)</li>
          <li>1980: with Jimmy Forrest <em>Out &#8217;Dere</em> (Grey-Forest)</li>
          <li>1983: with J.J. Johnson <em>Things Are Getting Better All The Time</em> (Pablo)</li>
          <li>1986: <em>Al Grey And The Jesper Thilo Quintet</em> (Storyville)</li>
          <li>1988: <em>The New Al Grey Quintet</em> (Chiarascuro)</li>
          <li>1989: with Bjarne Nerem <em>Al Meets Bjarne</em> (Gemini)</li>
          <li>1990: <em>Fab</em> (Capri)</li>
          <li>1991: <em>Christmas Stockin&#8217; Stuffer</em> (Capri)</li>
          <li>1993: <em>Me N&#8217; Jack</em> (Pullen)</li>
          <li>1995: <em>Live At The Blue Note</em> (Telarc)</li>
          <li>1996: with Brother Jack McDuff <em>Me N&#8217; Jack</em> (Pullen)</li>
          <li>1998: <em>Matzoh And Grits</em> (Arbors)</li>
          <li>1998: <em>Echoes Of New Orleans</em> (Progressive)</li>
        </ul>
        <h2>References</h2>
        <ol>
          <li><a name="footnote1"></a><em>Swing</em> pp. 356</li>
          <li><a name="footnote2"></a><em>The Encyclopedia of Popular Music</em> pp. 2283</li>
        </ol>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <!-- END OF INSERTED CONTENT --> 
        
      </div>
    </div>
  </div>
  
  <!-- Marketing Div --> 
  {% include marketing.txt %} 
  <!-- END Marketing--> 
  
</div>
<!-- Help Div --> 
{% include helpcontainer.html %} 
<!-- END Help Div --> <!-- Footer Div --> {% include footer.txt %} <!-- /footer --> 

<!-- Example row of columns --> 

<!-- /footer --> 
<script src="https://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script> 
<script src="/js/bootstrap.js"></script><script src="/js/scrolltotop.js"></script> 
<script src="/js/affix.js"></script> 
<script src="/js/datatables.js"></script> 
<script>    $(document).ready(function() {$("ul.nav-justified li:nth-child(3)").addClass('active');$("div#leftnavmenu a#grey").last().addClass('active-find'); $("div#small_menu a#grey").last().addClass('active');$("small#greylist ").show();$("ul.grey a#Recordings").addClass('active');});</script> 
<script src="/js/eventstracker.js"></script> 
<!-- Google Analytics --> 
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4564291-1");
pageTracker._initData();
pageTracker._trackPageview();
</script> 
<!-- End Google Analytics --> 
<!-- Final Javascript Div --> {% include final.js %} <!-- END Final Javascript-->
</body>
</html>