---
# IJC
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Joe Williams Discography - International Jazz Collections (IJC) - University of Idaho Library</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Content-Language" content="en-us" />
<meta name="keywords" content="University of Idaho, International Jazz Collections, collection, IJC, memorabilia, jazz, photos, videos, movie, movies, Joe Williams" />
<meta name="description" content="Joe Williams Discography - University of Idaho International Jazz Collections" />
<meta name="copyright" content="2008 University of Idaho" />
<meta name="author" content="University of Idaho" />
<meta name="robot" content="all" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<link rel="shortcut icon" href="../images/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/uimods.css" rel="stylesheet" >
</head>
<body>
{% include headertocontent.html %}
  <!-- Page Content -->
  <div class="container breadholder" id="breadcrumbdiv">
    <ol class="breadcrumb">
      <li><a href="http://www.lib.uidaho.edu/index.html ">Home</a></li>
      <li><a href="/">International Jazz Collections</a></li>
      <li class="active">Joe Williams Collection</li>
    </ol>
  </div>
  <div class="container pagecontent" id="scrollnav"> <br / >
    
    <!-- Find Menu --> {% include menu.txt %} <!-- END Find Menu --> 
      
      <!-- left navigation -->
      
      <div id="audienceright1" class="greybkgd">
        <div class="mediacontainer"><img src="../images/IJC_JWilliams_coll_01-05.jpg" alt="Joe Williams Collection, IJC - International Jazz Collections" width="671" height="315" /></div>
        <br />
        <div class="btn-group  pull-right">
          <button class="btn btn-small btn-default dropdown-toggle col-md-12 col-sm-12" data-toggle="dropdown">Joe Williams Collection <span class="caret"></span> </button>
          <ul class="dropdown-menu">
            <li><a   id="Biography" href="/williams_joe/bio.html">Biography</a></li>
            <li><a   id="Recordings" href="/williams_joe/discography.html">Discography</a></li>
            <li><a target="_blank"  id="FindingAid" href="http://archiveswest.orbiscascade.org/ark:/80444/xv27008">Finding Aid</a></li>
            <li><a   id="Collection" href="http://digital.lib.uidaho.edu/cdm/landingpage/collection/ijcw">Visit the Collection</a></li>
          </ul>
        </div>
        <h1>Recordings</h1>
        <!-- BEGINNING OF INSERTED CONTENT -->
        <h2>Partial Discography<sup><a href="#footnote1">1</a></sup><sup><a href="#footnote2">2</a></sup>
          </h1>
        </h2>
        <ul>
          <li>1955: <em>A Night At Count Basie&#8217;s</em> (Vanguard)</li>
          <li>1955: <em>Count Basie  Swings/Joe Williams Sings</em> (Clef)</li>
          <li>1956: <em>The Greatest! Count Basie Wings/Joe Williams Sings Standards</em> (Verve)</li>
          <li>1956: with Count Basie, Ella Fitzgerald <em>One O&#8217;Clock Jump</em> (Columbia)</li>
          <li>1956: <em>Joe Williams Sings Everyday</em> (Regent)</li>
          <li>1958: <em>Man Ain&#8217;t Supposed To Cry</em> (Roulette)</li>
          <li>1959: with Basie <em>Memories Ad Lib</em> (Roulette)</li>
          <li>1959: with Basie <em>Everyday I Have The Blues</em> (Roulette)</li>
          <li>1959: <em>Joe Williams Sings About You!</em> (Roulette)</li>
          <li>1960: <em>That Kind Of Woman</em> (Roulette)</li>
          <li>1960: with Count Basie <em>Just The Blues</em> (Roulette)</li>
          <li>1961: <em>Sentimental And Melancholy</em> (Roulette)</li>
          <li>1961: <em>Together</em> (Roulette)</li>
          <li>1961: <em>Have A Good Time</em> (Roulette)</li>
          <li>1962: <em>A Swingin&#8217; Night At Birdland</em> (Roulette)</li>
          <li>1963: <em>One Is A Lonesome Number</em> (Roulette)</li>
          <li>1963: <em>New Kind Of Love</em> (Roulette)</li>
          <li>1963: <em>Jump For Joy</em> (RCA)</li>
          <li>1963: <em>Joe Williams At Newport</em> &#8216;63 (RCA)</li>
          <li>1964: <em>Me And The Blues</em> (RCA)</li>
          <li>1965: <em>Song Is You</em> (RCA)</li>
          <li>1965: <em>The Exciting Joe Williams</em> (RCA Victor)</li>
          <li>1966: <em>Presenting Joe Williams And The Thad Joes/Mel Lewis Jazz Orchestra</em> (Solid State)</li>
          <li>1968: <em>Something Old, New And Blue</em> (Solid State)</li>
          <li>1971: <em>Live In Las Vegas</em> (Monad)</li>
          <li>1973: <em>Joe Williams Live</em> (Fantasy)</li>
          <li>1979: with Dave Pell&#8217;s Prez Conference <em>Prez &amp; Joe</em> (GNP)</li>
          <li>1983: <em>Nothin&#8217; But The Blues</em> (Delos)</li>
          <li>1985: <em>I Just Wanna Sing</em> (Delos)</li>
          <li>1987: <em>Every Night: Live At Vine Street</em> (Verve)</li>
          <li>1987: <em>Ballad And Blues Master</em> (Verve)</li>
          <li>1989: <em>In Good Company</em> (Verve)</li>
          <li>1990: <em>That Holiday Feelin&#8217;</em> (Verve)</li>
          <li>1992: <em>Live At Orchestra Hall, Detroit</em> (Telarc)</li>
          <li>1993: <em>Here&#8217;s To Life</em> (Telarc)</li>
          <li>1994: <em>Feel The Spirit</em> (Telarc)</li>
        </ul>
        <h2>References</h2>
        <ol>
          <li><a name="footnote1"></a><em>The Encyclopedia of Popular Music</em> pp. 5850</li>
          <li><a name="footnote2"></a>Allmusic.com</li>
        </ol>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <!-- END OF INSERTED CONTENT --> 
        
      </div>
    </div>
  </div>
  
  <!-- Marketing Div --> 
  {% include marketing.txt %} 
  <!-- END Marketing--> 
  
</div>
<!-- Help Div --> 
{% include helpcontainer.html %} 
<!-- END Help Div --> <!-- Footer Div --> {% include footer.txt %} <!-- /footer --> 

<!-- Example row of columns --> 

<!-- /footer --> 
<script src="https://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script> 
<script src="/js/bootstrap.js"></script><script src="/js/scrolltotop.js"></script> 
<script src="/js/affix.js"></script> 
<script src="/js/datatables.js"></script> 
<script>    $(document).ready(function() {$("ul.nav-justified li:nth-child(3)").addClass('active');$("div#leftnavmenu a#williams").last().addClass('active-find'); $("div#small_menu a#williams").last().addClass('active');$("small#williamslist ").show();$("ul.williams a#Recordings").addClass('active');});</script> 
<script src="/js/eventstracker.js"></script> 
<!-- Google Analytics --> 
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4564291-1");
pageTracker._initData();
pageTracker._trackPageview();
</script> 
<!-- End Google Analytics --> 
<!-- Final Javascript Div --> {% include final.js %} <!-- END Final Javascript-->
</body>
</html>