---
# IJC
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Lee Morse Biography - International Jazz Collections (IJC) - University of Idaho Library</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Content-Language" content="en-us" />
<meta name="keywords" content="University of Idaho, International Jazz Collections, collection, IJC, memorabilia, jazz, photos, videos, movie, movies, Lee Morse" />
<meta name="description" content="Lee Morse Biography - University of Idaho International Jazz Collections" />
<meta name="copyright" content="2008 University of Idaho" />
<meta name="author" content="University of Idaho" />
<meta name="robot" content="all" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<link rel="shortcut icon" href="../images/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/uimods.css" rel="stylesheet" >
</head>
<body>
{% include headertocontent.html %}
  <!-- Page Content -->
  <div class="container breadholder" id="breadcrumbdiv">
    <ol class="breadcrumb">
      <li><a href="http://www.lib.uidaho.edu/index.html ">Home</a></li>
      <li><a href="/">International Jazz Collections</a></li>
      <li class="active">Lee Morse Collection</li>
    </ol>
  </div>
  <div class="container pagecontent" id="scrollnav"> <br / >
    
    <!-- Find Menu --> {% include menu.txt %} <!-- END Find Menu --> 
      
      <!-- left navigation -->
      
      <div id="audienceright1" class="greybkgd">
        <div class="mediacontainer"><img src="../images/IJC_LMorse_coll_01-04.jpg" alt="Lee Morse Collection, IJC - International Jazz Collections"  /></div>
        <br />
        <div class="btn-group  pull-right" style="margin-left:20px;">
          <button class="btn btn-small btn-default dropdown-toggle " data-toggle="dropdown"> Lee Morse Collection <span class="caret"></span> </button>
          <ul class="dropdown-menu">
            <li><a   id="home" href="/morse_lee/">Home</a></li>
            <li><a   id="Biography" href="/morse_lee/bio.html">Biography</a></li>
            <li><a   id="films" href="/morse_lee/films.html">Film List</a></li>
            <li><a   id="Recordings" href="/morse_lee/discography.html">Recordings</a></li>
            <li><a target="_blank"  id="FindingAid" href="http://nwda.orbiscascade.org/ark:/80444/xv83334">Finding Aid</a></li>
            <li><a   id="all" href="/morse_lee/all.html">View All Images</a></li>
            <li><a   id="Collection" href="http://digital.lib.uidaho.edu/cdm/landingpage/collection/ijclm">Visit the Collection</a></li>
          </ul>
        </div>
        <h1>Extended Biography</h1>
        <div class="pull-right" style="margin-left:14px;width:159px;padding-top:6px;"><img src="../images/LMorse_childhood_01.jpg" width="149" height="158" alt="Lee Morse as a child" />
          <p>Lee Morse as a child</p>
        </div>
        <p>Lena Corinne Taylor was born, to Pleasant John and Olive Taylor, in Cove, Oregon on November 30, 1897. The Taylor family relocated to the small town of Kooskia, Idaho in 1908. Lena was one of two daughters and eleven sons, all children of Pastor Pleasant John Taylor. Lena married Elmer Morse in 1915, and the next year she gave birth to her only son, Jack.</p>
        <p>In 1920 Lena left Elmer and Kooskia to pursue her musical career as a vaudeville performer, and work for musical comedy producer, Will King. She gained fame as a vaudeville performer, and critics were impressed by her vocal range. &#8220;Rowland Bond once theorized that Lee&#8217;s well-developed lower range was the result of years of singing with her brothers and attempting to match their intonation.&#8221;<sup><a class="stronglink" href="#footnote1">1</a></sup> &#8220;It was not uncommon for those who heard her on record or radio to think it was a man&#8217;s voice they were hearing.&#8221;<sup><a class="stronglink" href="#footnote2">2</a></sup> </p>
        <p>Lee was one of the most recorded female vocalists of the 1920s. A recording contract with the Path&eacute; label launched her professional career. Path&eacute; allowed Lee&#8217;s musical experimentation characterized by woops and yodels. While under the Path&eacute; label Lee seized the opportunity to record her own musical compositions. Lee changed to the Columbia label in 1927. Lee Morse was one of Columbia&#8217;s most popular female performers during 1927 to 1932.</p>
        <div class="pull-right" style="margin-left:14px;width:210px;padding-top:6px;"><img src="../images/LMorse_w_Bob.jpg" width="200" height="155" alt="Lee Morse with Bob Downey" />
          <p>Lee Morse with Bob Downey</p>
        </div>
        <p>Lee met pianist, Bob Downey, who accompanied her both on stage and in real life. It is unofficially known if they were ever married. &#8220;As stage gigs became scarce during the depression, Morse settled for club acts, and even opened a club with pianist Bob Downey in Texas, which ran until it burned down in 1939.&#8221;<sup><a class="stronglink" href="#footnote3">3</a></sup> That same year they resettled in Rochester, New York to hunt for club engagements. Soon after the move her relationship with Bob Downey ended.</p>
        <p>Ray Farese rejuvenated Lee&#8217;s career by landing her a Rochester radio show and appointments at local clubs. Lee Morse and Ray Farese were married in 1946. Lee Morse yearned for a comeback with the song entitled, <em>Don&#8217;t Even Change a Picture on the Wall</em> in 1951, written in the 1940s for the WWII soldiers.  Regrettably, Lee only received local success with this song.</p>
        <div class="pull-right" style="margin-left:14px;width:150px;padding-top:6px;"><img src="../images/LMorse_promo_photo_02.jpg" width="140" height="182" alt="Lee Morse later in life" />
          <p>Lee Morse later in life</p>
        </div>
        <p>Lee Morse&#8217;s life ended suddenly while visiting a neighbor on December 16, 1954, at the age of 57. &#8220;After her death, Ray Farese turned her photos and scrapbook over to Rochester-based journalist Howard Hosmer, who apparently produced a Morse career retrospective for a local station.&#8221;<sup><a class="stronglink" href="#footnote4">4</a></sup> Howard Hosmer, one of Lee&#8217;s biggest fans, died before her mementos could be returned to Ray Farese.</p>
        <p>(Summarized from the Lee Morse web page created by Kristi O&#8217;Connell Myers. <a class="stronglink" href="http://web.archive.org/web/20080705202036/http:/www.leemorse.net/">www.leemorse.net (archived at the web archive)</a>)
        <p>Information about Lee Morse may also be found at <a class="stronglink" href="http://www.leemorse.com">www.leemorse.com</a>, created by Ian House.</p>
        <h2>References</h2>
        <ol>
          <li><a name="footnote1"></a>Leemorse.net (http://web.archive.org/web/20080705202036/http:/www.leemorse.net/)</li>
          <li><a name="footnote2"></a>Leemorse.com</li>
          <li><a name="footnote3"></a>Shazam.com</li>
          <li><a name="footnote4"></a>Imdb.com</li>
        </ol>
      </div>
    </div>
  </div>
  
  <!-- Marketing Div --> 
  {% include marketing.txt %} 
  <!-- END Marketing--> 
  
</div>
<!-- Help Div --> 
{% include helpcontainer.html %} 
<!-- END Help Div --> <!-- Footer Div --> {% include footer.txt %} <!-- /footer --> 

<!-- Example row of columns --> 

<!-- /footer --> 
<script src="https://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script> 
<script src="/js/bootstrap.js"></script><script src="/js/scrolltotop.js"></script> 
<script src="/js/affix.js"></script> 
<script src="/js/datatables.js"></script> 
<script>    $(document).ready(function() {$("ul.nav-justified li:nth-child(3)").addClass('active');$("div#leftnavmenu a#morse").last().addClass('active-find'); $("div#small_menu a#morse").last().addClass('active');$("small#morselist ").show();$("ul.morse a#Biography").addClass('active');});</script> 
<script src="/js/eventstracker.js"></script> 
<!-- Google Analytics --> 
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4564291-1");
pageTracker._initData();
pageTracker._trackPageview();
</script> 
<!-- End Google Analytics --> 
<!-- Final Javascript Div --> {% include final.js %} <!-- END Final Javascript-->
</body>
</html>