<div class="headertop container" id="top">

</div>
<div class="headerwrapper" id="headerbanner" style="">
    <div class="container" style="padding:0px 15px;">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <a href="https://www.lib.uidaho.edu/" class="uibrand" title="Go to Library Homepage"><img class="img-responsive" src="https://www.lib.uidaho.edu/images/ui_library_horizontal.png" alt="University of Idaho Library [logo]" ></a>
            </div>

            <div class="pull-right col-xs-6 col-sm-3 col-md-3">
                <p class="pull-right">
                    <a href="https://www.lib.uidaho.edu/digital/"><img class="img-responsive" src="https://www.lib.uidaho.edu/media/digital/justdi_logo_sm.png" title="University of Idaho Library Digital Initiatives" alt="digital initiatives logo" ></a>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="maincontainer" style="">
    <div class="container">
        <hr style="height:4px;border-color:#b18e5f; margin:10px 0px 15px; border-width:1px 0px; border-style:double;width:100%;">
    </div>
        
