---
# IJC
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Leonard Feather Collection - International Jazz Collections (IJC) - University of Idaho Library</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Content-Language" content="en-us" />
<meta name="keywords" content="University of Idaho, International Jazz Collections, collection, IJC, memorabilia, jazz, photos, videos, movie, movies, Leonard Feather" />
<meta name="description" content="Leonard Feather Collection - University of Idaho International Jazz Collections" />
<meta name="copyright" content="2008 University of Idaho" />
<meta name="author" content="University of Idaho" />
<meta name="robot" content="all" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<link rel="shortcut icon" href="../images/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/uimods.css" rel="stylesheet" >
<script src="../scripts/AC_OETags.js" type="text/javascript" language="javascript"></script>
<script language="JavaScript" type="text/javascript">
<!--
var requiredMajorVersion = 6;
var requiredMinorVersion = 0;
var requiredRevision = 0;
// -->
</script>
</head>
<body>
{% include headertocontent.html %}
  <!-- Page Content -->
  <div class="container breadholder" id="breadcrumbdiv">
    <ol class="breadcrumb">
      <li><a href="http://www.lib.uidaho.edu/index.html ">Home</a></li>
      <li><a href="/">International Jazz Collections</a></li>
      <li class="active">Leonard Feather Collection</li>
    </ol>
  </div>
  <div class="container pagecontent" id="scrollnav"> <br / >
    
    <!-- Find Menu --> {% include menu.txt %} <!-- END Find Menu --> 
      
      <!-- left navigation -->
      <div class="row">
        <div class="col-md-9">
          <h1>Leonard Feather Collection</h1>
          <p>Jazz journalist Leonard Geoffrey Feather was  born in Hampstead, England on September 13, 1914. In the 1930s, he arranged,  composed, and produced jazz sessions, and began to write about jazz for print  media.&nbsp; After moving to <acronym>New  York he</acronym> worked with such greats as Louis Armstrong, Dizzy  Gillespie, and Duke Ellington, establishing his reputation in various fields of  jazz.&nbsp; Writing for famous jazz journals and authoring several books, he  was particularly influential in promoting Bebop.&nbsp; Moving to Los Angeles in  1960, he became the chief jazz critic for the <em>Los Angeles Times</em>. Leonard  Feather died on September 22, 1994.</p>
          <p>For an extended biography, <a href="bio.html">click here</a>.</p>
        </div>
        <div class="col-md-3 center">
          <h4 class="center"><a  href="http://digital.lib.uidaho.edu/cdm/landingpage/collection/lfc">Digital Collection</a></h4>
          <a class="btn btn-default col-md-12 col-sm-12 center" href="all.html">All Photos</a> <br />
          <a class="btn btn-default col-md-12 col-sm-12 center" href="https://www.lib.uidaho.edu/digital/blindfold/">Blindfold Tests</a> <br />
          <a class="btn btn-default col-md-12 col-sm-12 center" href="http://digital.lib.uidaho.edu/cdm/search/collection/lfc/searchterm/Scrapbook">Scrapbooks </a>
          <hr />
          <div class="btn-group  ">
            <button class="btn btn-small btn-default dropdown-toggle col-md-12 col-sm-12" data-toggle="dropdown">More Information <span class="caret"></span> </button>
            <ul class="dropdown-menu">
              <li><a   id="Biography" href="/feather_leonard/bio.html">Biography</a></li>
              <li><a   id="blind" href="https://www.lib.uidaho.edu/digital/blindfold/">Blindfold Tests</a></li>
              <li><a   id="career" href="/feather_leonard/career.html">Career</a></li>
              <li><a   id="journalist" href="/feather_leonard/journalist.html">Journalist/Critic</a></li>
              <li><a   id="broadcaster" href="/feather_leonard/broadcaster.html">Broadcaster/Producer</a></li>
              <li><a   id="musician" href="/feather_leonard/musician.html">Musician/Composer</a></li>
              <li><a   id="author" href="/feather_leonard/author.html">Author/Historian</a></li>
              <li><a   id="advocate" href="/feather_leonard/advocate.html">Human Rights Advocate</a></li>
              <li><a target="_blank"  id="FindingAid" href="http://nwda.orbiscascade.org/ark:/80444/xv98547">Finding Aid</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 pull-right center"> <br class="hidden-md hidden-lg" />
          <form action="http://digital.lib.uidaho.edu/cdm4/results.php" method="get" >
            <input type="hidden" value="all" name="CISOOP1">
            <input type="text" size="15" name="CISOBOX1">
            <input type="hidden" value="CISOSEARCHALL" name="CISOFIELD1">
            <input type="hidden" value="exaxt" name="CISOOP2">
            <input type="hidden" value=" name=" cisobox2"="">
            <input type="hidden" value="CISOSEARCHALL" name="CISOFIELD2">
            <input type="hidden" value="any" name="CISOOP3">
            <input type="hidden" value=" name=" cisobox3"="">
            <input type="hidden" value="CISOSEARCHALL" name="CISOFIELD3">
            <input type="hidden" value="none" name="CISOOP4">
            <input type="hidden" value=" name=" cisobox4"="">
            <input type="hidden" value="CISOSEARCHALL" name="CISOFIELD4">
            <input type="hidden" value="/lfc" name="CISOROOT">
            <input class="button-all" type="submit" value="Search the Collection">
          </form>
        </div>
      </div>
      <br/>
      <div class="mediacontainer">
        <!-- removed php random flash movies switcher -->
        <img src="/images/IJC_LFeather_coll_01-01.jpg" width="671" height="315" alt="Leonard Feather Collection, IJC">

      </div>
    </div>
  </div>
  
  <!-- Marketing Div --> 
  {% include marketing.txt %} 
  <!-- END Marketing--> 
  
</div>
<!-- Help Div --> 
{% include helpcontainer.html %} 
<!-- END Help Div --> <!-- Footer Div --> {% include footer.txt %} <!-- /footer --> 

<!-- Example row of columns --> 

<!-- /footer --> 
<script src="https://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script> 
<script src="/js/bootstrap.js"></script><script src="/js/scrolltotop.js"></script> 
<script src="/js/affix.js"></script> 
<script src="/js/datatables.js"></script> 
<script>    $(document).ready(function() {$("ul.nav-justified li:nth-child(3)").addClass('active');$("div#leftnavmenu a#feather").last().addClass('active-find'); $("div#small_menu a#feather").last().addClass('active');$("small#featherlist ").show();$("ul.feather a#home").addClass('active');});</script> 
<script src="/js/eventstracker.js"></script> 
<!-- Google Analytics --> 
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4564291-1");
pageTracker._initData();
pageTracker._trackPageview();
</script> 
<!-- End Google Analytics --> 
<!-- Final Javascript Div --> {% include final.js %} <!-- END Final Javascript-->
</body>
</html>