---
# IJC
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Leonard Feather Musician/Composer - International Jazz Collections (IJC) - University of Idaho Library</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Content-Language" content="en-us" />
<meta name="keywords" content="University of Idaho, International Jazz Collections, collection, IJC, memorabilia, jazz, photos, videos, movie, movies, Leonard Feather" />
<meta name="description" content="Leonard Feather/Rosalie Soladar Collectiony - University of Idaho International Jazz Collections" />
<meta name="copyright" content="2008 University of Idaho" />
<meta name="author" content="University of Idaho" />
<meta name="robot" content="all" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<link rel="shortcut icon" href="../images/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/uimods.css" rel="stylesheet" >
</head>
<body>
{% include headertocontent.html %}
  <!-- Page Content -->
  <div class="container breadholder" id="breadcrumbdiv">
    <ol class="breadcrumb">
      <li><a href="http://www.lib.uidaho.edu/index.html ">Home</a></li>
      <li><a href="/">International Jazz Collections</a></li>
      <li><a href="/feather_leonard/">Leonard Feather Collection</a></li>
      <li class="active">Musician/Composer</li>
    </ol>
  </div>
  <div class="container pagecontent" id="scrollnav"> <br / >
    
    <!-- Find Menu --> {% include menu.txt %} <!-- END Find Menu --> 
      
      <!-- left navigation -->
      
      <div id="audienceright1" class="greybkgd">
        <div class="mediacontainer"><span class="mediacontainer"><img src="../images/IJC_LFeather_coll_02-02.jpg" alt="Leonard Feather Collection, IJC - International Jazz Collections" width="671" height="315" /></span></div>
        <br />
        <div class="btn-group  pull-right" style="margin-left:20px;">
          <button class="btn btn-small btn-default dropdown-toggle " data-toggle="dropdown"> Leonard Feather Collection <span class="caret"></span> </button>
          <ul class="dropdown-menu">
            <li><a   id="home" href="/feather_leonard/">Home</a></li>
            <li><a   id="Biography" href="/feather_leonard/bio.html">Biography</a></li>
            <li><a   id="blind" href="https://digital.lib.uidaho.edu/digital/collection/lfc/search/searchterm/blindfold%20tests">Blindfold Tests</a></li>
            <li><a   id="career" href="/feather_leonard/career.html">Career</a></li>
            <li><a   id="journalist" href="/feather_leonard/journalist.html">Journalist/Critic</a></li>
            <li><a   id="broadcaster" href="/feather_leonard/broadcaster.html">Broadcaster/Producer</a></li>
            <li><a   id="musician" href="/feather_leonard/musician.html">Musician/Composer</a></li>
            <li><a   id="author" href="/feather_leonard/author.html">Author/Historian</a></li>
            <li><a   id="advocate" href="/feather_leonard/advocate.html">Human Rights Advocate</a></li>
            <li><a target="_blank"  id="FindingAid" href="http://nwda.orbiscascade.org/ark:/80444/xv98547">Finding Aid</a></li>
            <li><a   id="all" href="/feather_leonard/all.html">View All Images</a></li>
            <li><a   id="Collection" href="http://digital.lib.uidaho.edu/cdm/landingpage/collection/lfc">Visit the Collection</a></li>
          </ul>
        </div>
        <h1>Musician/Composer</h1>
        <div class="pull-right" style="width:210px;padding-top:6px;margin-left:20px;"><img src="../images/feather_dixieland-vs-birdla.jpg" width="160" height="158" alt="Leonard Feather presents Dixieland vs. Birdland LP" />
          <p>Cover of LP, <em>Leonard Feather presents Dixieland vs. Birdland</em></p>
        </div>
        <p>Leonard Feather was a talented musician himself though rarely recorded, in part because of the Musician's Union regulations prohibiting the recording of non-members. Feather was a prolific composer and lyrist; he recorded over 100 songs and wrote the album notes for thousands of LPs. In addition he was an active arranger and producer. By his own estimation, his first quality composition was 'Mighty Like the Blues' performed by Benny Carter, Coleman Hawkins, and George Chisholm in 1937. </p>
        <p>The list of names associated with Leonard Feather&rsquo;s work is both long and distinguished: Lionel Hampton, Duke Ellington,  Benny Goodman, Fats Waller, Count Basie, Charlie Barnet, Charlie Parker, Sarah  Vaughan, Dinah Washington, Billie Holiday, George Shearing, and many others.  Some of Feather&rsquo;s most well-known songs include &lsquo;Evil Gal Blues&rsquo;, &lsquo;Blow Top  Blues&rsquo;, &lsquo;Dinah&rsquo;s Blues&rsquo;, &lsquo;I Remember Bird&rsquo;, and &lsquo;Twelve Tone Blues&rsquo;. Possibly his greatest hit was &lsquo;How Blue Can You Get&rsquo; first performed by Lois Jordan and  B.B. King. Leonard Feather also penned a great many more, lesser-known songs such as 'Get Rich Quick' and 'Taxi Blues'. On October 16, 1951, these songs were the first ever recorded by a teenager named Richard Penniman, later known as Little Richard.</p>
        <div class="pull-right" style="width:170px;padding-top:16px;margin-left:20px;"><img src="../images/feather_LP_1937-45.jpg" width="160" height="159" alt="Leonard Feather 1937-1945 LP cover" />
          <p>Cover of LP, <em>Leonard Feather 1937&#8211;1945</em></p>
        </div>
        <h2>Partial discography: <sup><a class="stronglink" href="#footnote1">1</a></sup></h2>
        <ul class="listwithbulletscompact">
          <li>1937-1945: <em>Leonard Feather 1937-1945</em> (Classics)</li>
          <li>1951: <em>Leonard Feather&#8217;s Swingin&#8217; Swedes</em> (Prestige)</li>
          <li>1954: <em>Dixieland vs. Birdland</em> (MGM)</li>
          <li>1954: <em>Cats Vs. Chicks</em> (MGM)</li>
          <li>1954: <em>Winter Sequence</em> (MGM)</li>
          <li>1956: <em>West Coast vs. East Coast</em> (MGM)</li>
          <li>1956: <em>Swingin&#8217; on the Vibories</em> (MGM)</li>
          <li>1957: <em>Hi-Fi Suite</em> (MGM)</li>
          <li>1957: <em>52nd Street</em> (VSOP)</li>
          <li>1958: <em>Swingin&#8217; Seasons</em> (MGM)</li>
          <li>1959: <em>Jazz from Two Sides</em> (Concept)</li>
          <li>1971: <em>Night Blooming Jazzmen</em> (Mainstream)</li>
          <li>1971: <em>Freedom Jazz Dance</em> (Mainstream)</li>
          <li>1971-1972: <em>Night Blooming</em> (Mainstream)</li>
          <li>1972: <em>All-Stars</em> (Mainstream)</li>
          <li>1997: <em>Presents Bop</em> (Tofrec)</li>
        </ul>
        <p><a name="footnote1"></a><sup>1</sup> <em>The Encyclopedia of Popular Music</em> pp.414</p>
        <h2>References</h2>
        <ul>
          <li>Feather, Leonard G. <em>The Jazz Years: Earwitness to an Era</em>. New York: Da Capo Press, 1987.</li>
          <li>Kernfeld, Barry, ed. <em>The New Grove Dictionary of Jazz</em>. St. Martin's Press, 1994.</li>
          <li>Larkin, Colin, ed. The Encyclopedia of Popular Music. 3rd ed. London: Muze, 1998.</li>
          <li>New York Times articles. http://www.nytimes.com</li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Marketing Div --> 
  {% include marketing.txt %} 
  <!-- END Marketing--> 
  
</div>
<!-- Help Div --> 
{% include helpcontainer.html %} 
<!-- END Help Div --> <!-- Footer Div --> {% include footer.txt %} <!-- /footer --> 

<!-- Example row of columns --> 

<!-- /footer --> 
<script src="https://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script> 
<script src="/js/bootstrap.js"></script><script src="/js/scrolltotop.js"></script> 
<script src="/js/affix.js"></script> 
<script src="/js/datatables.js"></script> 
<script>    $(document).ready(function() {$("ul.nav-justified li:nth-child(3)").addClass('active');$("div#leftnavmenu a#feather").last().addClass('active-find'); $("div#small_menu a#feather").last().addClass('active');$("small#featherlist ").show();$("ul.feather a#musician").addClass('active');});</script> 
<script src="/js/eventstracker.js"></script> 
<!-- Google Analytics --> 
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4564291-1");
pageTracker._initData();
pageTracker._trackPageview();
</script> 
<!-- End Google Analytics --> 
<!-- Final Javascript Div --> {% include final.js %} <!-- END Final Javascript-->
</body>
</html>