---
# IJC
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Conte Candoli Biography - International Jazz Collections (IJC) - University of Idaho Library</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Content-Language" content="en-us" />
<meta name="keywords" content="University of Idaho, International Jazz Collections, collection, IJC, memorabilia, jazz, photos, videos, movie, movies, Conte Candoli" />
<meta name="description" content="Conte Candoli Biography - University of Idaho International Jazz Collections" />
<meta name="copyright" content="2008 University of Idaho" />
<meta name="author" content="University of Idaho" />
<meta name="robot" content="all" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<link rel="shortcut icon" href="../images/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/uimods.css" rel="stylesheet" >
</head>
<body>
{% include headertocontent.html %}
  <!-- Page Content -->
  <div class="container breadholder" id="breadcrumbdiv">
    <ol class="breadcrumb">
      <li><a href="http://www.lib.uidaho.edu/index.html ">Home</a></li>
      <li><a href="/">International Jazz Collections</a></li>
      <li class="active">Conte Candoli Collection</li>
    </ol>
  </div>
  <div class="container pagecontent" id="scrollnav"> <br / >
    
    <!-- Find Menu --> {% include menu.txt %} <!-- END Find Menu --> 
      
      <!-- left navigation -->
      
      <div id="audienceright1" class="greybkgd">
        <div class="mediacontainer"><img src="../images/IJC_CCandoli_coll_01-03.jpg" alt="Conte Candoli Collection - IJC" ></div>
        <br />
        <div class="btn-group pull-right ">
          <button class="btn btn-small btn-default dropdown-toggle col-md-12 col-sm-12" data-toggle="dropdown">Conte Candoli Collection <span class="caret"></span> </button>
          <ul class="dropdown-menu">
            <li><a   id="Biography" href="/candoli_conte/bio.html">Biography</a></li>
            <li><a   id="Recordings" href="/candoli_conte/discography.html">Discography</a></li>
            <li><a target="_blank"  id="FindingAid" href="http://nwda.orbiscascade.org/ark:/80444/xv92407">Finding Aid</a></li>
          </ul>
        </div>
        <h1>Biography</h1>
        <p>Secondo (Conte) Candoli was born on July 12th, 1927, in Mishawaka, Indiana, to Italian immigrants who had settled in the <acronym title="United States">US</acronym> after World War I. His father always had musical instruments around the house as he was a member of a band, which had formed at a local Italian club. Conte and his brother Pete would play their father&#8217;s horns. He encouraged his sons to play music from a youthful age.</p>
        <p>At age thirteen, Conte Candoli was showing talent playing the trumpet when his older brother, Pete, recommended him for the Woody Herman band during his summer vacation in 1944. Conte filled in for the band while attending high school and later became a full-time member after graduation in the summer of 1945. When he joined the Woody Herman band, Dave Tough was on drums; Chubby Jackson on bass; Flip Phillips on tenor; Bill Harris on trombone; Neil Hefti and Sonny Berman on trumpets; and Ralph Burns on piano. He was drafted by the Army in 1945, leaving the band and civilian life.</p>
        <p>After Conte&#8217;s discharge from the Army in late 1946, he joined Chubby Jackson&#8217;s Fifth Dimensional Jazz Group in 1947.  With him were Dave Tough on drums; Chubby Jackson on bass; Ralph Burns on piano; Neil Hefti and Sonny Berman on trumpets; Bill Harris on trombone; and Flip Phillips on tenor. The arrangements for small combos, like the Fifth Dimensional Jazz Group, are usually informal and uncreditable. The group primarily played head arrangements which, &#8220;in jazz is an unscored, collaborative arrangement&#8221;.<sup><a class="stronglink" href="../footnote1">1</a></sup> So called head arrangements were worked out by the band members themselves, memorized immediately, and never written down. They kept it all in their heads.</p>
        <p>Candoli joined the Stan Kenton Orchestra for a year in 1948, and for a short time in 1949 he joined Charlie Ventura&#8217;s &#8220;Bop For The People&#8221; band. In 1951 he rejoined the Stan Kenton Orchestra, where he stayed until 1954. Then, that same year, Candoli formed his own band with Chubby Jackson, Frank Rosolino, and Lou Levy. After leading some recording dates, he moved to Los Angeles to take session jobs, in between gigs, with Howard Rumsey&#8217;s Lighthouse All-Stars: Shorty Rogers, Bud Shank, and Bob Cooper. He was with them for four years.</p>
        <p>Conte led the Thursday night band from 1957 to 1962. He was usually backed by Ross Tompkins on piano, Roy McCurdy or Lawrence Marable on drums, and Chuck Berghofer on bass. &#8220;In essence, the Thursday Night Band hosted the oldest permanent floating jam session in L.A. Every once in a while, Pete Candoli, dean of the studio stalwarts and, like his little brother Conte, a name-band veteran, would stop by with his Martin Committee model trumpet.&#8221;<sup><a class="stronglink" href="../footnote2">2</a></sup> Later the band became the Candoli Brothers, and they were quite a musical sight and a sound to behold.</p>
        <p>From 1959 to 1962 Conte worked regularly with vibes player Terry Gibbs. In 1961 and 1962 he toured Europe for a few weeks with saxophonist Gerry Mulligan&#8217;s Concert Jazz Band, with Bob Brookmeyer and Bill Holman. He also worked with Woody Herman, Shelly Manne, and Stan Kenton from time to time throughout the 1960s.</p>
        <p>In 1967, Conte began to make occasional appearances in the band led by Doc Severinson for Johnny Carson&#8217;s <em>Tonight Show</em>. He became a permanent member of the band when Johnny Carson relocated the show from New York to Burbank, California, in 1972. Candoli retired from the <em>Tonight Show</em> along with the rest of Severinsen&#8217;s band when Johnny Carson retired in 1992.</p>
        <p>Conte was also a member Supersax, among other L.A. all-star outfits, and also continued his periodic collaborations with his brother Pete. Conte toured with Severinsen&#8217;s group and played session work until cancer slowed his activities. He continued recording eighteen months prior to his death. During this time he recorded <em>Candoli Live</em>. His complete discography lists some 770 separate tracks and 123 albums on which he played. He was inducted into The International Jazz Hall of Fame in 1997.</p>
        <p>He liked wing era trumpet players like Harry James and Roy Eldridge, but Conte&#8217;s style was primarily patterned after Dizzy Gillespie&#8217;s own mature style. &#8220;His place on the haphazard battlefield of modern jazz rested on his prowess as a trumpet soloist, a narrow specialty in which he was an all-time top gun.&#8221;<sup><a class="stronglink" href="../footnote2">2</a></sup> Conte&#8217;s reputation as one of Jazz&#8217;s most resourceful and eloquent soloists is apparent when you listen to his music. Conte Candoli died on Friday, December 14th, 2001 at Monterey Palms Convalescent Home in Palm Desert, California.</p>
        <h2>References</h2>
        <ol>
          <li><a name="footnote1"></a><em>The Harvard Concise Dictionary of Music and Musicians</em> pp. 294</li>
          <li><a name="footnote2"></a>Allaboutjazz.com</li>
        </ol>
      </div>
    </div>
  </div>
  
  <!-- Marketing Div --> 
  {% include marketing.txt %} 
  <!-- END Marketing--> 
  
</div>
<!-- Help Div --> 
{% include helpcontainer.html %} 
<!-- END Help Div --> <!-- Footer Div --> {% include footer.txt %} <!-- /footer --> 

<!-- Example row of columns --> 

<!-- /footer --> 
<script src="https://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script> 
<script src="/js/bootstrap.js"></script><script src="/js/scrolltotop.js"></script> 
<script src="/js/affix.js"></script> 
<script src="/js/datatables.js"></script> 
<script>    $(document).ready(function() {$("ul.nav-justified li:nth-child(3)").addClass('active');$("div#leftnavmenu a#conte").last().addClass('active-find'); $("div#small_menu a#conte").last().addClass('active');$("small#contelist ").show();$("ul.conte a#Biography").addClass('active');});</script> 
<script src="/js/eventstracker.js"></script> 
<!-- Google Analytics --> 
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4564291-1");
pageTracker._initData();
pageTracker._trackPageview();
</script> 
<!-- End Google Analytics --> 
<!-- Final Javascript Div --> {% include final.js %} <!-- END Final Javascript-->
</body>
</html>