---
# IJC
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Conte Candoli Collection - International Jazz Collections (IJC) - University of Idaho Library</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Content-Language" content="en-us" />
<meta name="keywords" content="University of Idaho, International Jazz Collections, collection, IJC, memorabilia, jazz, photos, videos, movie, movies, Conte Candoli" />
<meta name="description" content="Conte Candoli Collection - University of Idaho International Jazz Collections" />
<meta name="copyright" content="2008 University of Idaho" />
<meta name="author" content="University of Idaho" />
<meta name="robot" content="all" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<link rel="shortcut icon" href="../images/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/uimods.css" rel="stylesheet" >
<script src="../scripts/AC_OETags.js" type="text/javascript" language="javascript"></script>
<script language="JavaScript" type="text/javascript">
<!--
var requiredMajorVersion = 6;
var requiredMinorVersion = 0;
var requiredRevision = 0;
// -->
</script>
</head>
<body>
{% include headertocontent.html %}
  <!-- Page Content -->
  <div class="container breadholder" id="breadcrumbdiv">
    <ol class="breadcrumb">
      <li><a href="http://www.lib.uidaho.edu/index.html ">Home</a></li>
      <li><a href="/">International Jazz Collections</a></li>
      <li class="active">Conte Candoli Collection</li>
    </ol>
  </div>
  <div class="container pagecontent" id="scrollnav"> <br / >
    
    <!-- Find Menu --> {% include menu.txt %} <!-- END Find Menu --> 
      
      <!-- left navigation -->
      
      <div class="row">
        <div class="col-md-9">
          <h1>Conte Candoli Collection</h1>
          <p>Trumpeter and flugelhorn player Conte Candoli, was born Secondo Candoli, in Mishawaka, Indiana on July 12, 1927. He was the younger brother of trumpeter Pete Candoli (b. 6/28/23). The Candoli brothers studied music together and joined big bands while still in their teens. Conte played with Woody Herman's band at age sixteen during summer vacations. He joined the band after graduation. From Herman's band he moved on to play with Stan Kenton and others. He moved to the Los Angeles area in 1951 and kept that as his home base until the end of his life.</p>
          <p>He played in Doc Severinsen's TONIGHT SHOW ORCHESTRA from 1972 to 1992, though continuing to perform, tour, and record in addition to that work. often with his brother, Pete. Conte Candoli died on December 14, 2001. </p>
          <p>For an extended biography, <a href="bio.html">click here</a>.</p>
        </div>
        <div class="col-md-3 center">
          <h4 class="center">Library Collection</a></h4>
          <a class="btn btn-default col-md-12 col-sm-12 center" target="_blank" href="http://nwda.orbiscascade.org/ark:/80444/xv92407">Finding Aid</a> <br />
          <hr />
          <div class="btn-group  ">
            <button class="btn btn-small btn-default dropdown-toggle col-md-12 col-sm-12" data-toggle="dropdown">More Information <span class="caret"></span> </button>
            <ul class="dropdown-menu">
              <li><a   id="Biography" href="/candoli_conte/bio.html">Biography</a></li>
              <li><a   id="Recordings" href="/candoli_conte/discography.html">Discography</a></li>
              <li><a target="_blank"  id="FindingAid" href="http://nwda.orbiscascade.org/ark:/80444/xv92407">Finding Aid</a></li>
            </ul>
          </div>
          <p class="smalltxt"><br />
            <em>Items from this collection have not yet been digitized.</em></p>
        </div>
      </div>
      <br/>
      <div id="audienceright1" class="greybkgd">
        <div class="mediacontainer"> 
          <script language="JavaScript" type="text/javascript">
                        <!--
                        var hasReqestedVersion = DetectFlashVer(requiredMajorVersion, requiredMinorVersion, requiredRevision);
                        
                        if (hasReqestedVersion) {
                            AC_FL_RunContent(
                                        "src", "../movies/IJC_CCandoli_collage_01",
                                        "width", "671",
                                        "height", "315",
                                        "title", "Conte Candoli Collection",
                                        "quality", "high",
                                        "bgcolor", "#cccccc",
										"wmode", "transparent",
                                        "type", "application/x-shockwave-flash",
                                        'codebase', 'http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab',
                                        "pluginspage", "http://www.adobe.com/go/getflashplayer"
                            );
                        } else {  
                            var alternateContent = '<img src=\"/images/IJC_CCandoli_coll_01-01.jpg\" width=\"671\" height=\"315\" alt=\"Conte Candoli Collection\" />'
                            document.write(alternateContent);  
                        }
                        // -->
                        </script>
          <noscript>
          <img src="/images/IJC_CCandoli_coll_01-01.jpg"  alt="Conte Candoli Collection, IJC" />
          </noscript>
        </div>
        <br/ >
        <br/ >
        <div class="row"> 
          <!--<a class="btn btn-default col-md-5 col-md-offset-1" href="http://digital.lib.uidaho.edu/cdm/landingpage/collection/ijcw">Visit the Joe Williams Collection</a> --> 
          
        </div>
      </div>
    </div>
    
    <!-- Marketing Div --> 
    {% include marketing.txt %} 
    <!-- END Marketing--> 
    
  </div>
  <!-- Help Div --> 
  {% include helpcontainer.html %} 
<!-- END Help Div --> <!-- Footer Div --> {% include footer.txt %} <!-- /footer --> 

<!-- Example row of columns --> 

<!-- /footer --> 
<script src="https://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script> 
<script src="/js/bootstrap.js"></script><script src="/js/scrolltotop.js"></script> 
<script src="/js/affix.js"></script> 
<script src="/js/datatables.js"></script> 
<script>    $(document).ready(function() {$("ul.nav-justified li:nth-child(3)").addClass('active');$("div#leftnavmenu a#conte").last().addClass('active-find'); $("div#small_menu a#conte").last().addClass('active');$("small#contelist ").show();$("ul.conte a#home").addClass('active');});</script> 
<script src="/js/eventstracker.js"></script> 
<!-- Google Analytics --> 
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4564291-1");
pageTracker._initData();
pageTracker._trackPageview();
</script> 
<!-- End Google Analytics --> 
<!-- Final Javascript Div --> {% include final.js %} <!-- END Final Javascript-->
</body>
</html>